@model WebApplication2.Models.albumtik
@{
    ViewBag.Title = "albumetik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<img src="@Model.resim" />
<br />


<div style="font-family:Impact;font-size:medium">

    @Model.icerik

</div>