
@{
    ViewBag.Title = "iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/css/style.css")
</head>
<body>
    <div class="contact">
        <p>Eminem Sosyal Medya</p>
    </div>
   
       <div class="sosyalmedya">
           <table>
               <tr>
                   <td>   <a href="http://www.facebook.com/eminem"><img src="~/images/facebook.jpg"></a></td> 
                   <td>   <a href="http://www.twitter.com/eminem"><img src="~/images/twitter.jpg"></a></td>  
                   <td>   <a href="http://www.instagram.com/eminem"><img src="~/images/instagram.jpg"></a></td>
                   <td>   <a href="http://www.youtube.com/eminem"><img src="~/images/youtube.jpg"></a></td>  
               </tr>
           </table>
       </div>
    <div class="bizeyaz">
        <h3 class="bizeyaz">Öneri ve görüşleriniz için</h3>
        <h3 class="bizeyaz">Bize yazın</h3>
        <h3 class="bizeyaz"> risesoftcompany@gmail.com</h3>
     
    </div>
    
</body>

</html>