@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="~/js/modernizr.custom.86080.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.map"> </script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Styles.Render("~/css/bootstrap.css")
    @Styles.Render("~/css/style.css")
</head>
<body>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/em1.jpg" >
            </div>

            <div class="item">
                <img src="~/images/em2.jpg" >
            </div>

            <div class="item">
                <img src="~/images/em3.jpg" >
            </div>

            <div class="item">
                <img src="~/images/em4.jpg" >
            </div>
            <div class="item">
                <img src="~/images/em5.jpg">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


<!----------------------------------------------------------------------------------------->
    <br />
    <br />
    <br />
    <div class="col-md-4 oneri">
        <!-- HABERLER -->
        <div class="panel1 panel1-info">
            <div class="panel1-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-bullhorn"></span>
                    HABERLER
                </h3>
            </div>
            <div class="panel-body">
                <ul class="media-list">
                    <li class="media">

                        Eminem Konser Teklifini Reddetti
                        <br />

                    <li class="media">

                        D12 Yeni Çıkacak Albüm Hakkında
                        <br />

                    <li class="media">

                        MMLP2 Satış Sayısı Güncelleme
                        <br />
                </ul>
                <a href="/Home/Haber" class="btn btn-info btn-block">Tüm Haberler »</a>
            </div>
        </div>


    </div>
    <!--SÖZ KISMI-->
    <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>

</body>
</html>