
@{
    ViewBag.Title = "Kimdir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
  @Styles.Render("~/css/style.css")
   @Styles.Render("~/css/bootstrap.css")

</head>
<body>
    <div class="kimdirbaslik">
        <h1>Kimdir O?</h1>
    </div>
    <div class="kimdir">
        <p align="left">
            Marshall Bruce Mathers III, meşhur olduğu sahne adıyla Eminem ya da ikinci kişiliği Slim Shady, (d. 17 Ekim 1972), Akademi ve Grammy ödüllü Amerikalı rapçi, yapımcı ve aktördür.
            1999 yılında çıkardığı ilk ciddi albümü The Slim Shady LP ile şöhrete ulaştı ve bu albümle En İyi Rap Albümü dalında Grammy Ödülü kazandı. Bir sonraki albümü The Marshall Mathers LP, en hızlı satan rap albümü olarak tarihe geçti. Bu albümle yakaladığı başarıyla kendi plak şirketi Shady Records'u kuran Eminem, arkadaşlarıyla birlikte planladığı hiphop grubu projesi D12'i de hayata geçirme fırsatı buldu. The Marshall Mathers LP ve üçüncü albümü The Eminem Show ile de Grammy ödüllerini başkasına kaptırmayan Eminem, 2002 yılında başrol oynadığı 8 Mile filmi için yaptığı Lose Yourself şarkısıyla da En İyi Şarkı dalında ödül kazandı. Tüm zamanların en iyi rapçilerinden biri olan Eminem, 2005'te çıktığı turlardan sonra bir duraksama dönemine girdi. Ancak daha sonra çalışmalarına devam eden sanatçı, 19 Mayıs 2009'da, 2004'ten beri ilk albümü olan Relapse'i çıkarttı. 2010 yılında Eminem yedinci stüdyo albümü Recovery'yi çıkarttı. Albüm, sanatçının ABD'de bir numara olan arka arkaya altıncı albümü oldu ve uluslararası piyasada da başarılı olarak birçok ülkede bir numaraya oturdu. ABD'de Billboard 200 listelerinde 7 hafta boyunca bir numarada kaldı. Sekizinci albümü The Marshall Mathers LP 2, Kasım 2013'te piyasaya çıktı. Nielsen SoundScan'e göre Eminem 2000'li yılların en çok satan sanatçısıdır ve 100 milyonun üzerinde albüm satmıştır. Bu rakamla gelmiş geçmiş en çok satanlar arasına da girmektedir.
            Eminem, Rolling Stone dergisinin Tüm Zamanların En Büyük 100 Sanatçısı listesinde 82 numarada yer aldı. Ayrıca Vibe dergisi tarafından 2008 yılında gelmiş geçmiş en iyi rapçi ilan edildi. Şu ana kadar D12 ile birlikte çıkardığı albümler de dahil olmak üzere toplam 10 albümü (8 solo, 2 D12 ile) Billboard Top 200 listesinde 1. sıraya ulaştı. Ayrıca tüm dünyada 13 teklisi listelerde 1 numara oldu. Aralık 2009’da Billboard dergisi tarafından son on yılın sanatçısı ilan edildi. The Eminem Show, The Marshall Mathers LP ve Encore albümlerinin yine Billboard tarafından son on yılın sırasıyla 3., 7., ve 40. en çok satan albümleri olduğu açıklandı. Billboard’a göre, Eminem’in iki albümü 2000’lerin en çok satan 5 albümü arasında yer alıyor. Eminem, Birleşik Krallık’ta da 12.5 milyon albüm sattı.

        </p>
    </div>
</body>
</html>